form {
  width: 50%;
  margin: auto;
}

input,
form > button {
  display: block;
  padding: 0.5em;
  margin: 1em;
  font-size: 1rem;
  width: 300px;

  border: 2px solid #ccc;
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
  border-color: brown; /* Change border color */
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5); /* Add a box shadow */
}
